.navigation {
  width: 100%;
  height: 70px;
  background: var(--bgColor);
  display: flex;
  align-items: center;
}

.logo {
  color: var(--whiteColor);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}